@import url(/css/variables.css);

body {
    background: var(--secondary-color);
}

h1, h2 {
    color: var(--primary-color);
}

h1 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h1);
    font-family: var(--font-second);
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

h2 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h2);
    font-family: var(--font-second);
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-left: 21rem;
}

.filter-btn
{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: var(--font-size-small);
    cursor: pointer;
    margin-right: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-btn.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.filter-btn:hover {
    background-color: var(--primary-color);
    color: white;
}

.display-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.post-card {
    background-color: var(--primary-color);
    border-radius: 10px;
    overflow: hidden;
    padding: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondary-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
}

.post-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.post-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.post-title {
    margin: 1rem 1rem .25rem;
    font-family: var(--font-main);
    font-size: var(--font-size-h3);
    color: var(--secondary-color);
}

.post-author {
    margin: 0 1rem 1rem;
    font-family: var(--font-main);
    font-size: var(--font-size-base);
    color: var(--secondary-color);
}

.post-link {
    text-decoration: none;
    color: inherit;
}

.post-link:hover, .post-link:focus {
    text-decoration: none;
}

.to-top {
position: fixed;
bottom: 30px;
right: 30px;
width: 50px;
height: 50px;
border: none;
border-radius: 50%;
background-color: var(--primary-color);
color: var(--secondary-color);
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
font-size: 1.5rem;
opacity: 0;
visibility: hidden;
transition: opacity 0.3s ease,transform 0.3s ease, visibility 0.3s ease;
z-index: 1000;
}

.to-top::before {
content: "↑";
font-weight: var(--font-weight-bold);
font-size: 1.5rem;
line-height: 1;
position: relative;
top: -4px;
}

.to-top.show {
opacity: 1;
visibility: visible;
transform: translateY(0);
}

.to-top:hover {
background-color: var(--email-link-color);
transform: translateY(-3px);
}

