@import url(variables.css);


/* Fonts */
header, footer, .nav-links a {
    font-family: var(--font-main);
}

header {
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--tertiary-color);
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
}

.header-action a{
    margin-left: 1.5rem;
}

header a, footer a, .footer-links {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-semibold);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

header a:hover, footer a:hover, .nav-links a:hover {
    color: var(--email-link-color);
}

.nav-links {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 900;
    padding: 1rem;
    gap: 1.5rem;
    background-color: var(--flag-color);
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-semibold);
    margin-top: 0.3rem;
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 0.5rem 2.2rem 0.5rem 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: var(--font-size-base);
    width: 100%;
    max-width: 400px;
}

.clear-search-btn {
    position: absolute;
    right: 0.5rem;
    background: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    opacity: 0.6;
}

.clear-search-btn:hover {
    opacity: 1;
}

.footer-links {
    padding: 2rem;
}

