@import url(variables.css);

body {
background: var(--background-color);
}

h1, h2, p, #login-form, #register-form {
    font-family: var(--font-second);
    color: var(--secondary-color);
}

h1 {
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 3rem;
}

p {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.login, .register {
    margin: 13rem 45rem 2rem 45rem;
    background-color: var(--primary-color);
    padding: 3rem;
    border: 0.5px solid var(--secondary-color);
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.login-form-container,
.register-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}


#login-form, #register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 275px;
}

.name, .email, .password{
    padding: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: var(--font-size-base);
    font-family: var(--font-second);
    box-shadow: inset 1px 2px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.submit-btn {
    background-color: var(--email-link-color);
    color: var(--secondary-color);
    border: none;
    padding: 0.75rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: var(--font-size-base);
    font-family: var(--font-second);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    border: 1px solid var(--email-link-color);
    background-color: var(--secondary-color);
    color: var(--email-link-color);
}

.register-link a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
}

.register-link a:hover {
    text-decoration: underline;
}