@import url(/css/variables.css);

h1 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h1);
    font-family: var(--font-second);
    text-align: center;
    margin-bottom: 1rem;
}

h2 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h2);
    font-family: var(--font-second);
    text-align: left;
    margin-bottom: 3rem;
    margin-left: 5rem;
}

.post-grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}