@import url(variables.css);

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--primary-color);
    font-family: var(--font-second);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-medium);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.create-section, .edit-section {
    max-width: 800px;
    margin: 15rem auto 2rem auto;
    padding: 2rem;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

.create-form, .edit-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create-form label, .edit-form label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-family: var(--font-main);
}

.title, 
.url, 
.alt {
    height: 30px;
}

.title, 
.url, 
.alt,
.textarea {
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    font-family: var(--font-second);
}

.textarea {
    resize: vertical;
    min-height: 140px;
    max-height: 500px;
    font-size: var(--font-size-small);
}


.create-form button[type="submit"], .edit-form button[type="submit"] {
    align-self: flex-start;
    margin-top: 0.5rem;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-form button[type="submit"]:hover, .-form button[type="submit"]:hover {
    background-color: var(--email-link-color);
}

.form-message {
    margin-top: 1rem;
    font-family: var(--font-main);
}

.post-actions {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.btn-edit, .btn-delete {
    display: inline-block;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    font-family: var(--font-second);
    font-size: var(--font-size-base);
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-edit {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-edit:hover {
    background-color: var(--email-link-color);
    color: var(--secondary-color);
}

.btn-delete {
    background-color: var(--delete-color);
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.btn-delete:hover {
    background-color: var(--secondary-color);
    border-color: var(--delete-color);
    color: var(--delete-color);
}

.btn-follow {
    display: inline-block;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    font-family: var(--font-second);
    font-size: var(--font-size-base);
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-follow:hover {
    background-color: var(--email-link-color);
    color: var(--secondary-color);
}