@import url(/css/variables.css);

body {
background: #070a29;
}

h1, h2, p, #login-form, #register-form {
    font-family: var(--font-second);
    color: var(--secondary-color);
}

h1 {
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 3rem;
}

p {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.login, .register {
    margin: 13rem 45rem 2rem 45rem;
    background-color: #0a0d30;
    padding: 3rem;
    border: 0.5px solid var(--secondary-color);
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.login-form-container,
.register-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login-form, #register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 250px;
}