::after,
::before {
  box-sizing: border-box;
}

body{
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
}

:root {
  /* Colors */
  --primary-color:#2D2D2D;
  --secondary-color:#FAF9F6;
  --tertiary-color:#181717;
  --background-color:#4b4c55;
  --email-link-color:#3B719F;
  --edit-color:#02590F;
  --delete-color:#870000;
  --flag-color:#c7c1a7;

  /* Fonts */
  --font-main: 'Rethink Sans', sans-serif;
  --font-second: 'Roboto Flex', sans-serif;

  /* Fonts sizes */
  --font-size-base: 16px;
  --font-size-small: 14px;
  --font-size-hero: 96px;

  --font-size-h1: 48px;
  --font-size-h2: 24px;
  --font-size-h3: 20px;

  
  /* Font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700; 
  --font-weight-extrabold: 800;
}